* {
    color: black;
}

body {
    font-family: Calibri;
    background-color: whitesmoke;
    text-align: center;
}

header {
    background-color: black;
    height: 200px;
    text-align: center;
    padding: 75px;
    opacity: 0.8;
}

#title-main {
    font-size: 70px;
    opacity: 0.9;
    margin-bottom: 0%;
    color: whitesmoke;
}


#title-strap {
    font-size: 30px;
    margin-top: 0%;
    color: whitesmoke;
    margin-top: 0%;
    opacity: 0.8;
}

#location-input {
    min-height: 900px;
    padding-top: 200px;
}

/* #location-text {
    display: inline-flex;
    font-size: 22px;
    margin-right: 10px;
    height: 50px;
} */

form {
    display: inline-flex;
}

input {
    font-family: Calibri;
    font-size: 22px;
    margin-right: 10px;
    text-align: center;
    color: lightgrey
}

#button {
    font-family: Calibri;
    font-size: 22px;
    color: white;
    border: 0;
    background-color: darkslategray;
    width: 200px;
    height: 50px
}

#forecast {
    padding-top: 200px;
}

h1 {
    font-size: 40px;
}

img {
    background-color: darkslategray;
}

